---
import IconArrow from '../../assets/svg/shared/IconArrow.astro'
---

<header class='bg-black text-white w-full md:min-h-[650px] md:relative'>
  <section>
    <img
      loading='lazy'
      src='/assets/stories/mobile/moon-of-appalacia.jpg'
      srcset='
        /assets/stories/mobile/moon-of-appalacia.jpg 400w,
        /assets/stories/tablet/moon-of-appalacia.jpg 500w,
        /assets/stories/desktop/moon-of-appalacia.jpg 1024w
        '
      alt=''
      class='w-full h-[375px] object-cover object-top md:object-right-top md:h-full md:absolute'
    />
  </section>
  <section
    class='w-full min-h-[500px] md:absolute md:h-[650px] md:flex md:flex-col md:justify-center'
  >
    <article
      class='w-full min-h-[500px] px-7 py-12 flex flex-col justify-between md:min-h-0 md:h-2/3 md:w-3/5 md:max-w-[500px] md:pr-0'
    >
      <p class='uppercase font-semibold text-xs tracking-widest'>
        Last month's featured story
      </p>
      <h2
        class='font-semibold text-3xl uppercase tracking-widest max-w-[15ch] lg:text-4xl'
      >
        Hazy full moon of Appalachia
      </h2>
      <p class='text-base font-normal'>
        <span class='opacity-75 font-light'>March 2nd 2020</span>
        by John Appleseed
      </p>
      <p class='text-base opacity-60 font-ligh'>
        The dissected plateau area, while not actually made up of geological
        mountains, is popularly called "mountains," especially in eastern
        Kentucky and West Virginia, and while the ridges are not high, the
        terrain is extremely rugged.
      </p>
      <div class='flex gap-4 items-center'>
        <a
          href='#'
          class='uppercase font-semibold text-sm tracking-widest hover:underline hover:decoration-white'
          >Read the story</a
        >
        <IconArrow color='white' styles='h-5 w-12' />
      </div>
    </article>
  </section>
</header>
