---
import IconArrow from '../../assets/svg/shared/IconArrow.astro'
import IconLogo from '../../assets/svg/shared/IconLogo.astro'
import SocialMedia from './SocialMedia.astro'
---

<footer class='mt-16 bg-black text-white grid place-content-center py-14'>
  <div class='flex flex-col justify-center items-center gap-10 max-w-[320px]'>
    <IconLogo white style='h-4' />
    <article class='grid gap-8 place-content-center'>
      <SocialMedia />
    </article>
    <ul
      class='grid justify-items-center gap-5 mb-10 uppercase tracking-widest font-semibold text-sm'
    >
      <li><a href='#'>Stories</a></li>
      <li><a href='#'>Features</a></li>
      <li><a href='#'>Pricing</a></li>
    </ul>
    <div class='flex gap-4 items-center'>
      <a href='#' class='uppercase font-semibold text-sm'>GET AN INVITE</a>
      <IconArrow color='white' styles='h-5 w-12' />
    </div>
    <p class='opacity-60'>Copyright 2019. All Rights Reserved</p>
  </div>
</footer>
