---
import IconArrow from '../../assets/svg/shared/IconArrow.astro'
import IconLogo from '../../assets/svg/shared/IconLogo.astro'
import SocialMedia from './SocialMedia.astro'
---

<footer
  class='w-full min-h-[540px] bg-black text-white flex justify-center items-center py-14 md:min-h-[285px] md:px-10 md:py-0'
>
  <section
    class='flex flex-col justify-between gap-28 max-w-[320px] md:flex-row md:max-w-none md:w-full md:gap-0 md:h-[180px] lg:max-w-[1100px]'
  >
    <article
      class='w-full flex flex-col justify-between items-center gap-10 md:w-1/2 md:items-start md:gap-0'
    >
      <IconLogo white style='h-4' />

      <article class='grid gap-8 place-content-center md:md:order-3'>
        <SocialMedia />
      </article>

      <ul
        class='grid justify-items-center gap-5 uppercase tracking-widest font-semibold text-sm md:flex md:gap-6 md:order-2 md:mb-14'
      >
        <li><a class='hover:opacity-60' href='/'>Home</a></li>
        <li><a class='hover:opacity-60' href='/stories'>Stories</a></li>
        <li><a class='hover:opacity-60' href='/features'>Features</a></li>
        <li><a class='hover:opacity-60' href='/pricing'>Pricing</a></li>
      </ul>
    </article>

    <article
      class='w-full flex flex-col gap-9 md:w-1/2 md:items-end md:justify-between'
    >
      <div class='flex gap-4 justify-center items-center'>
        <a
          href='#'
          class='uppercase font-semibold text-sm hover:underline hover:decoration-white'
          >GET AN INVITE</a
        >
        <IconArrow color='white' styles='h-5 w-12' />
      </div>

      <p class='opacity-60'>Copyright 2019. All Rights Reserved</p>
    </article>
  </section>
</footer>
