---
---

<nav>
  <header>
    <div>PHOTOSNAP</div>
    <div>X</div>
  </header>
  <div>
    <a href='#'>Stories</a>
    <a href='#'>Features</a>
    <a href='#'>Pricing</a>
  </div>
  <hr />
  <button type='button'> Get an invite</button>
</nav>
