---
import IconArrow from '../assets/svg/shared/IconArrow.astro'
import Features from '../components/Features.astro'
import Header from '../components/Header.astro'
import Body from '../layout/Body.astro'
import SocialMedia from '../components/SocialMedia.astro'
---

<Body headTitle='Home'>
  <Header />
  <main class='w-full grid place-content-center gap-16'>
    <section class='flex flex-col justify-center items-center gap-16'>
      <article class='w-full grid place-items-center gap-16'>
        <img
          class='w-full'
          src='/assets/home/mobile/beautiful-stories.jpg'
          alt=''
        />
        <div class='flex flex-col justify-center gap-4 max-w-[320px]'>
          <h2 class='text-3xl font-bold uppercase tracking-widest'>
            Beautiful stories every time
          </h2>
          <p class='text-base opacity-60'>
            We provide design templates to ensure your stories look terrific.
            Easily add photos, text, embed maps and media from other networks.
            Then share your story with everyone.
          </p>
          <div class='flex gap-4 items-center'>
            <a href='#' class='uppercase font-semibold text-lg tracking-wider'
              >View the stories</a
            >
            <IconArrow styles='h-5 w-12' />
          </div>
        </div>
      </article>
      <article class='w-full grid place-items-center gap-16'>
        <img
          class='w-full'
          src='/assets/home/mobile/designed-for-everyone.jpg'
          alt=''
        />
        <div class='flex flex-col justify-center gap-4 max-w-[320px]'>
          <h2 class='text-3xl font-bold uppercase tracking-widest'>
            Designed for everyone
          </h2>
          <p class='text-base opacity-60'>
            Photosnap can help you create stories that resonate with your
            audience. Our tool is designed for photographers of all levels,
            brands, businesses you name it.
          </p>
          <div class='flex gap-4 items-center'>
            <a href='#' class='uppercase font-semibold text-lg tracking-wider'
              >View the stories</a
            >
            <IconArrow styles='h-5 w-12' />
          </div>
        </div>
      </article>
    </section>
    <section class='grid'>
      <article class='w-full h-[400px] relative'>
        <img
          class='h-full w-full absolute'
          src='/assets/stories/mobile/mountains.jpg'
          alt=''
        />
        <div class='absolute bottom-0 top-0 w-full z-10 bg-opacity-20 bg-black'>
        </div>
        <div class='text-white absolute bottom-0 w-full px-8 pb-10 z-20'>
          <h3 class='text-xl font-semibold'>The Mountains</h3>
          <p>by John Appleseed</p>
          <hr class='my-4' />
          <div class='flex justify-between items-center'>
            <a href='#' class='uppercase font-semibold tracking-widest'
              >Read Story</a
            >
            <IconArrow color='white' />
          </div>
        </div>
      </article>
      <article class='w-full h-[400px] relative'>
        <img
          class='h-full w-full absolute'
          src='/assets/stories/mobile/cityscapes.jpg'
          alt=''
        />
        <div class='absolute bottom-0 top-0 w-full z-10 bg-opacity-20 bg-black'>
        </div>
        <div class='text-white absolute bottom-0 w-full px-8 pb-10 z-20'>
          <h3 class='text-xl font-semibold'>Sunset Cityscapes</h3>
          <p>by Benjamin Cruz</p>
          <hr class='my-4' />
          <div class='flex justify-between items-center'>
            <a href='#' class='uppercase font-semibold tracking-widest'
              >Read Story</a
            >
            <IconArrow color='white' />
          </div>
        </div>
      </article>
      <article class='w-full h-[400px] relative'>
        <img
          class='h-full w-full absolute'
          src='/assets/stories/mobile/18-days-voyage.jpg'
          alt=''
        />
        <div class='absolute bottom-0 top-0 w-full z-10 bg-opacity-20 bg-black'>
        </div>
        <div class='text-white absolute bottom-0 w-full px-8 pb-10 z-20'>
          <h3 class='text-xl font-semibold'>18 Days Voyage</h3>
          <p>by Alexei Borodin</p>
          <hr class='my-4' />
          <div class='flex justify-between items-center'>
            <a href='#' class='uppercase font-semibold tracking-widest'
              >Read Story</a
            >
            <IconArrow color='white' />
          </div>
        </div>
      </article>

      <article class='w-full h-[400px] relative'>
        <img
          class='h-full w-full absolute'
          src='/assets/stories/mobile/architecturals.jpg'
          alt=''
        />
        <div class='absolute bottom-0 top-0 w-full z-10 bg-opacity-20 bg-black'>
        </div>
        <div class='text-white absolute bottom-0 w-full px-8 pb-10 z-20'>
          <h3 class='text-xl font-semibold'>Architecturals</h3>
          <p>by Samantha Brooke</p>
          <hr class='my-4' />
          <div class='flex justify-between items-center'>
            <a href='#' class='uppercase font-semibold tracking-widest'
              >Read Story</a
            >
            <IconArrow color='white' />
          </div>
        </div>
      </article>
    </section>
    <section class='grid gap-14 px-10'>
      <Features />
    </section>
  </main>
  <footer class='mt-16 bg-black text-white grid place-content-center py-14'>
    <div class='flex flex-col justify-center items-center gap-10 max-w-[320px]'>
      <SocialMedia />
      <div
        class='grid justify-items-center gap-5 mb-10 uppercase tracking-widest font-semibold text-sm'
      >
        <a href='#'>Stories</a>
        <a href='#'>Features</a>
        <a href='#'>Pricing</a>
      </div>
      <div class='flex gap-4 items-center'>
        <a href='#' class='uppercase font-semibold text-sm'>GET AN INVITE</a>
        <IconArrow color='white' styles='h-5 w-12' />
      </div>
      <p class='opacity-60'>Copyright 2019. All Rights Reserved</p>
    </div>
  </footer>
</Body>
