---
import IconArrow from '../../assets/svg/shared/IconArrow.astro'

const { title, story, img } = Astro.props
---

<article class='w-full grid place-items-center gap-16'>
  <img class='w-full' src={`/assets/home/mobile/${img}`} alt='' />
  <div class='flex flex-col justify-center gap-4 max-w-[320px]'>
    <h2 class='text-3xl font-bold uppercase tracking-widest'>
      {title}
    </h2>
    <p class='text-base opacity-60'>
      {story}
    </p>
    <div class='flex gap-4 items-center'>
      <a href='#' class='uppercase font-semibold text-lg tracking-wider'
        >View the stories</a
      >
      <IconArrow styles='h-5 w-12' />
    </div>
  </div>
</article>
