---
import IconEmbed from '../../assets/svg/features/IconEmbed.astro'
import IconNoLimit from '../../assets/svg/features/IconNoLimit.astro'
import IconResponsive from '../../assets/svg/features/IconResponsive.astro'
---

<article class='flex flex-col justify-center items-center gap-4 text-center'>
  <IconResponsive />
  <h3 class='font-bold mt-4'>100% Responsive</h3>
  <p class='text-sm opacity-60'>
    No matter which the device you’re on, our site is fully responsive and
    stories look beautiful on any screen.
  </p>
</article>

<article class='flex flex-col justify-center items-center gap-4 text-center'>
  <IconNoLimit />
  <h3 class='font-bold mt-4'>No Photo Upload Limit</h3>
  <p class='text-sm opacity-60'>
    Our tool has no limits on uploads or bandwidth. Freely upload in bulk and
    share all of your stories in one go.
  </p>
</article>

<article class='flex flex-col justify-center items-center gap-4 text-center'>
  <IconEmbed />
  <h3 class='font-bold mt-4'>Available to Embed</h3>
  <p class='text-sm opacity-60'>
    Embed Tweets, Facebook posts, Instagram media, Vimeo or YouTube videos,
    Google Maps, and more.
  </p>
</article>
