---
import IconFacebook from '../assets/svg/shared/IconFacebook.astro'
import IconInstagram from '../assets/svg/shared/IconInstagram.astro'
import IconLogo from '../assets/svg/shared/IconLogo.astro'
import IconPinterest from '../assets/svg/shared/IconPinterest.astro'
import IconTwitter from '../assets/svg/shared/IconTwitter.astro'
import IconYoutube from '../assets/svg/shared/IconYoutube.astro'
---

<header class='grid gap-8 place-content-center'>
  <IconLogo white />
  <div class='flex justify-between gap-3 h-5'>
    <IconFacebook />
    <IconYoutube />
    <IconTwitter />
    <IconPinterest />
    <IconInstagram />
  </div>
</header>
