---
import IconBoostExposure from '../../assets/svg/features/IconBoostExposure.astro'
import IconCustomDomain from '../../assets/svg/features/IconCustomDomain.astro'
import IconDragDrop from '../../assets/svg/features/IconDragDrop.astro'
---

<article class='flex flex-col justify-center items-center gap-4 text-center'>
  <IconCustomDomain />
  <h3 class='font-bold mt-4'>Custom Domain</h3>
  <p class='text-sm opacity-60 max-w-[35ch] md:max-w-[60ch]'>
    With Photosnap subscriptions you can host your stories on your own domain.
    You can also remove our branding!
  </p>
</article>

<article class='flex flex-col justify-center items-center gap-4 text-center'>
  <IconBoostExposure />
  <h3 class='font-bold mt-4'>Boost Your Exposure</h3>
  <p class='text-sm opacity-60 max-w-[35ch] md:max-w-[60ch]'>
    Users that viewed your story or gallery can easily get notifed of new and
    featured stories with our built in mailing list.
  </p>
</article>

<article class='flex flex-col justify-center items-center gap-4 text-center'>
  <IconDragDrop />
  <h3 class='font-bold mt-4'>Drag & Drop Image</h3>
  <p class='text-sm opacity-60 max-w-[35ch] md:max-w-[60ch]'>
    Easily drag and drop your image and get beautiful shots everytime. No over
    the top tooling to add friction to creating stories.
  </p>
</article>
